  .detailbox h3 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    color: white;
  }
  
  
  .detailbox h3:hover {
    color: #00ffff; /* Neon text color on hover */
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }


  .hi{
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

  h1{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  }

  .locationlogo{
    height: 15px;
  }
  


  .prof {
    font-size: 1.5rem;
    color: #00FFFF;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden; /* Ensures the text won't overflow */
    white-space: nowrap; /* Keeps text on a single line */
    border-right: 3px solid rgba(0, 0, 0, 0.75); /* Simulates the cursor */
    width: 0; /* Initial width to start the animation */
    animation: typing 5s steps(20, end)  infinite, blink 2s step-end infinite;
  }
  
  /* Typing effect */
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 22ch; /* Adjust based on the length of your text */
    }
    95% {
      width: 22ch; /* Pause for a moment after typing */
    }
    100% {
      width: 0;
    }
  }
  
  /* Blinking cursor effect */
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  
  .summary{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    }

    .resume{
      font-family:"Quicksand", serif ;
      font-weight: bold;
      color: darkgray;
      
    }

    .detailbox {
      background-color: #1e1e1e;
      color: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); /* Neon Glow */
      text-align: left;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      position: relative; /* Add this to make child elements' absolute positioning relative to the box */
  }
  
  .detailbox:hover {
      box-shadow: 0 0 30px rgba(0, 255, 255, 1); /* Brighter Neon Glow on hover */
      transform: scale(1.05); /* Slightly enlarge when hovered */
      cursor: pointer; /* Change cursor on hover */
  }
  
  .location {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      right: 15px; /* Adjusted for proper alignment */
      top: 5px; /* Adjusted for proper alignment */
      transform: translate(0, 0); /* Prevent it from being affected by scaling */
      /* pointer-events: none; Optional: Prevents interaction with the location element */
  }

